body {
  font-family: 'Open Sans', sans-serif;
}

.main-section {
  background-color: #455A64;
  left: 0;

}

header img {
  height: 20px;
  width: 20px;
}

.bookmarks {
  background-color: #CFD8DC;
  right: 0;
}
