body {
  font-family: 'Open Sans', sans-serif;
}

span h1 {
  display: inline-block;
}

.company-name {
  margin: 20px;
  font-size: 30px;
  font-weight: 800;
}

.main-section {
  background-color: #455A64;
  left: 0;
  color: #ffffff;
}

header input {
  display: block;
  margin: 20px;
  width: 300px;
  height: 25px;
  padding-left: 5px;
}

header img {
  height: 40px;
  width: 40px;
}

.bookmarks {
  background-color: #CFD8DC;
  right: 0;
}

#enter-button {
  background-color: #ffc107;
  color: #ffffff;
  width: 310px;
  font-weight: 800;
  border: none;
  margin-bottom: 20px;
}

.bookmark-card {
  border: solid 2px #607d8b;
  background-color: #ffffff;
  width: 30%;
  height: 100px;
  padding: 10px;
  margin: 15px;
}

.bookmark-title, .bookmark-read-button, .bookmark-delete-button {
  color: #455a64;
}

.bookmark-title, .bookmark-read-button, .bookmark-delete-button, .bookmark-url {
  padding: 10px;
}

.bookmark-title, .bookmark-url {
  border-bottom: 2px solid #cfd8dc;
}

.bookmark-url {
  color: #607d8b;
}

.bookmark-title {
  font-size: 20px;
}
